
/* Header */
html,
body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
background-color: black;
color: white;
}
.site-header{
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
}
.container-fluid {
	display: flex;
    justify-content: center;
}


h1 {
        text-align: center
     }

     /*Menu*/

.navbar {
	display: flex;
	position: inherit;
}


.navbar-nav {
	display: flex;
	flex-direction: row;
}

ul{
	display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 100%;
    -webkit-padding-start: 0;
}
/*Line decoration*/
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #9764db;
}

/* FlexiBoxex All articles and sidebar included*/
.main-container {
  	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
	max-width: 100%;
	
}
.main-container .row{
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
	margin-right: 2rem;
	max-width: 80%;
}

/*Intro*/

.imagenes {
	max-width: 100%;
}

blockquote{
		color: #dccdc8;
		font-style: italic;
		text-align: center;

	}

	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 0 0 0 0;
	}
.section-1{
	display: flex;
	flex-direction: column;
	order: -1;
}
.section-2{
	display: flex;
	flex-direction: column;
	order: 0;
}
.section-3{
	display: flex;
	flex-direction: column;
	order: 1;
}
.section-4{
	display: flex;
	flex-direction: column;
	order: 2;
}
.section-5{
	display: flex;
	flex-direction: column;
	order: 2;
}
.section-6{
	display: flex;
	flex-direction: column;
	order: 2;
}

/*Articles*/


.section-title {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 700;
}
.Section article:first-child{
font-size: 18px;
color: #b192db;
}
.section-lead{
    text-align: justify;
}
.section-read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.section-read-more a:hover,
.section-read-more a:focus {
	text-decoration: none;
}

.section-read-more .fa {
	margin-right: 0.5em;
	color: #9764db;
}

.section-read-more:last-child {
	margin-bottom: 0;
}

/*SideBar*/
.sidebar-content {
	display: flex;
	flex-direction: column;
    justify-content: left;
    align-content: left;
    max-width:30%;	
}

.article-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.article-title.article-title--sidebar{
	margin-left: 1rem;
    font-size: 80%;
    text-align: justify;
	}

/*Footer*/
.site-footer.container {
	margin-top: 4em;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
	border-top: 1px solid #9764db;
}


@media screen and (min-width: 0px) and (max-width: 550px) {

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
	
	}
.sidebar-content {
    display: flex;
    flex-direction: row;
	max-width: 100%;
}

	.row > article {
		max-width: 80%;
		margin-left: 4rem;
	}

	
	div > ul {
		display: flex;
		flex-direction: column;
		align-items: stretch;
    	justify-content: left;
		margin-bottom: 10rem;
	}
	.navbar{
		margin-top: 2rem;
	}
}



@media screen and (min-width: 550px) and (max-width: 700px) {
	.navbar  {
		display: flex;
    	flex-direction: column;
	}
	.nav-item{
		font-size: 1rem;
	}

	.container-fluid {
    display: flex;
    flex-direction: column;
}
	
	.sidebar-content {
		max-width: 100%;
		
	}
	.row {
		margin-right: 2rem;
    	margin-left: 2rem;
    	display: flex;
    	flex-flow: row wrap;
	    max-width: 80%;
	}

.row > article {
		max-width: 100%;
	}
}
