html,
body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
background-color: black;
color: white;
}

/*Header*/
img.portada{
    display: block;
    margin-left: auto;
    margin-right: auto;
     }

     h1 {
        text-align: center
     }

     /*Menu*/
.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.navbar-light .nav-link  {
	color: #292b2c;
	font-weight: 600;
	text-transform: uppercase;
	margin: 10px;
	padding: 5px;
    text-decoration: none;
    color: white;
}
.navbar {
    width: 800;
    position: absolute;
    top: 450px;
    left: 50%;
    margin-left: -400px; /*half the size of width*/
}
.nav-item{
    font-size: 20px;
    border-radius: 0.20em;
    background: #9764db;
    }

.nav-item:hover,
.nav-item:focus {
    background: #b192db;
	border-color: #9764db;
    border-radius: 0.20em;
}
/*Line decoration*/
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #9764db;
}
/*Intro*/
.intro{
    margin-top: 130px;
    margin-left: 2em;
}
.intro-title {
	margin-bottom: 0.5em;
	font-weight: 700;
}
.intro-lead{
    text-align: justify;
    padding-right:30em;
    margin-right: 2em;
	}
/*Articles*/
.section {
    margin-top: 60px;
    margin-left: 2em;
}

.section-title {
	margin-bottom: 0.5em;
	font-weight: 700;
}
.section-lead{
    text-align: justify;
    padding-right:30em;
    margin-right: 2em;
}
.section-read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.section-read-more a:hover,
.section-read-more a:focus {
	text-decoration: none;
}

.section-read-more .fa {
	margin-right: 0.5em;
	color: #9764db;
}

.section-read-more:last-child {
	margin-bottom: 0;
}

/*SideBar*/
.sidebar-content {
  position:absolute;
    top:550px; bottom:0; left:1050px; right:0 ;
    width:300;
}

@media screen and (min-width: 992px) {

	.navbar-brand > img {
	   max-height: 80px;
	}
}
/*Footer*/
.site-footer {
	margin-top: 4em;
}

.site-footer p {
	border-top: 1px solid #9764db;
	padding-top: 2em;
	padding-bottom: 2em;
    padding-left: 5em;
}